attr==0.3.2
autotrader==1.1.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==50.0.1
filelock==3.32.6
importlib_metadata==8.7.1
ipython==9.17.1
ipywidgets==8.1.9
joblib==1.5.3
keyring==25.7.0
mock==5.2.0
numpy==2.5.3
oandapyv20==0.7.2
pandas==3.0.5
Pillow==12.3.0
protobuf==7.36.1
pydantic==2.13.5
pyOpenSSL==26.4.0
pyTelegramBotAPI==4.36.1
pytest==9.1.1
python-dotenv==1.2.3
PyYAML==6.0.3
railroad==0.5.0
redis==8.1.0
schedule==1.2.2
scikit_learn==1.9.1
ta_lib==0.7.0
thread==2.0.6
tornado==6.5.9
v20==3.0.25.0
yfinance==1.5.2
